<ul>
  <%@events.each do |event|%>
    <li>
      <Strong><%=event.name %></Strong>
      In <%=event.location %>
      <%=number_to_currency(event.price, precision: 0) %>
      </li>
    <%end%>
</ul>
